footer{
    width: 100%;
    height: 390.800px;
    background-color: #f6f6f6;

    .container{
        width: 1200px;
        margin: 0 auto;
        padding-top: 45px;
        display: flex;
        justify-content: space-between;

        .footer-left{
            width: 561.600px;
            height: 216.200px;
            a{
                img{
                    width: 107px;
                    margin-bottom: 30px;
                }
            }

            p{
                font-size: 15px;
                line-height: 23px;
                font-family: "Poppins", sans-serif;
                color: #929292;
                font-style: normal;
                font-weight: normal;
                visibility: visible;
            }

            h3{
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 15px;
                font-weight: 600;
                margin-top: 30px;
                font-family: "Poppins", sans-serif;
                color: #292929;
            }

            .footer-social{
                width: 266.400px;
                height: 28px;
                display: flex;
                align-items: center;
                gap:20px;

                a{
                    color: #929292;
                    font-size: 15px;
                    &:hover{
                        color: #ee3333;
                    }
                }

            }

           
        }

        .footer-right{
            width: 600px;
            display: flex;
            justify-content: space-between;
            gap:35px;

            .opening{
                h4{
                    font-size: 16px;
                    font-weight: 600;
                    white-space: nowrap;
                    text-transform: capitalize;
                    margin-bottom: 30px;
                    font-family: "Poppins", sans-serif;
                    color: #292929;
                }

                p{
                    font-size: 15px;
                    line-height: 23px;
                    margin-bottom: 15px;
                    font-style: normal;
                    font-weight: normal;
                    visibility: visible;
                    font-family: "Poppins", sans-serif;
                    color: #929292;
                }

                .title{
                    font-size: 15px;
                    line-height: 17px;
                    font-weight: 500;
                    margin-top: 50px;
                    font-family: "Poppins", sans-serif;
                    color: #292929;
      
                }
            }

            .my-account{
                h4{
                    font-size: 16px;
                    font-weight: 600;
                    white-space: nowrap;
                    text-transform: capitalize;
                    margin-bottom: 30px;
                    font-family: "Poppins", sans-serif;
                    color: #292929;

                }

                ul{
                    width: 150px;
                    li{
                        margin-bottom: 14px;
                        a{
                            font-size: 15px;
                            line-height: 23px;
                            font-family: "Poppins", sans-serif;
                            color: #929292;
                            font-style: normal;
                            font-weight: normal;
                            visibility: visible;
                            &:hover{
                                color: #ee3333;
                            }
                            
                        }
               

                    }
                }
            }

            .about-us{
                h4{
                    font-size: 16px;
                    font-weight: 600;
                    white-space: nowrap;
                    text-transform: capitalize;
                    margin-bottom: 30px;
                    font-family: "Poppins", sans-serif;
                    color: #292929;

                }

                ul{
                    li{
                        margin-bottom: 14px;
                        a{
                            font-size: 15px;
                            line-height: 23px;
                            font-family: "Poppins", sans-serif;
                            color: #929292;
                            font-style: normal;
                            font-weight: normal;
                            visibility: visible;
                        }
         
                    }
                }
            }



        }
    }

    .footer-bottom{
        display: flex;
        align-items: center;
        

     
        .container{
            display: flex;
            justify-content:space-between;
            border-top: 2px solid #ebebeb;

            .left{
                p{
                    font-size: 15px;
                    line-height: 23px;
                    font-family: "Poppins", sans-serif;
                    color: #929292;
                    font-style: normal;
                    font-weight: normal;
                    visibility: visible;
                    a{
                        color: #ee3333;
                    }
    
                }
            }


            nav{
                width: 561px;
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap:30px;
                    li{
                        a{
                            font-size: 15px;
                            line-height: 23px;
                            font-family: "Poppins", sans-serif;
                            color: #929292;
                            font-style: normal;
                            font-weight: normal;
                            visibility: visible;
                            &:hover{
                                color: #ee3333;
                            }

                        }
                    }
                }
            }
        }
       

       
    }
}